*{
    margin: 0;
    padding: 0;
}

.background{
    background-image: url(sushicover.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
 margin-left: 50px;
 margin-top: 50px;
}

.logo2{
padding-top: 400px;
padding-left: 50px;
}